<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--  依赖关系-->
    <bean id="person" class="com.yyh.po.Person" abstract="true">
        <property name="name" value="张三"></property>
    </bean>
    <!--以来关键字 depends-on-->
    <bean id="p1" parent="person" depends-on="air" >
        <property name="name" value="李四"></property>
    </bean>
    <bean id="air" class="com.yyh.po.Air"></bean>
</beans>